{{#if model.isRootAndEmpty}}
  <div class="alert alert-info">
    Welcome to goldfish! Click the <i class="fa fa-plus"></i> button below to create your first file :)
  </div>
{{/if}}

<div class="row">
  <div class="col-md-9 col-md-push-3">
    {{outlet}}
  </div>
  <div class="col-md-3 col-md-pull-9">
    {{#drop-area class='list-group nav-list' action='uploadFiles'}}
      <div class="list-group-item">
        <a class="btn btn-default btn-xs pull-right btn-new-file" {{action 'startStopAddingNewFile'}}>
          <i class="fa fa-plus"></i>
        </a>

        <div class="path">
          {{model.path}}
        </div>

        {{#if addingNewFile}}
          <div class="input-group input-group-new-file-name">
            {{input value=newFileName class='form-control' placeholder='Enter new file name' enter='addNewFile'}}
            <span class="input-group-addon">.md</span>
          </div>

        {{/if}}
      </div>
      {{#if model.parentFolder}}
        {{#link-to 'folder' model.parentFolder.id class="list-group-item nav-item-back"}}
          <i class="fa fa-chevron-left"></i> Back to {{model.parentFolder.name}}
        {{/link-to}}
      {{/if}}
      {{#each model.subfolders as |subfolder|}}
        {{#link-to 'folder' subfolder.id class="list-group-item nav-item-folder"}}
          <i class="fa fa-folder-o"></i>
          {{subfolder.name}}
        {{/link-to}}
      {{/each}}
      {{#each model.pages as |page|}}
        {{#link-to 'page' page class="list-group-item nav-item-file"}}
          <i class="fa fa-{{page.icon}}"></i>
          {{page.name}}
        {{/link-to}}
      {{/each}}
    {{/drop-area}}
  </div>
</div>
