<div class="icon-addon addon-lg">
  {{input value=q class='form-control input-search' placeholder='Type to start searching'}}
  <i class="fa fa-search"></i>
</div>

<div class="page-header">
  {{#if q}}
    <h1>Search for "{{q}}"</h1>
  {{else}}
    <h1>Recent pages</h1>
  {{/if}}
</div>

<div class="list-group">
  {{#each arrangedContent as |page|}}
    <div class="list-group-item search-result-page">
      <h3>
        {{#link-to 'page' page.folder page}}{{page.title}}{{/link-to}}
        <small>{{page.folderPath}}</small>
      </h3>
      {{#if q}}
        <div class="search-matched-area">
          &hellip;
          {{matches-in-text page.markdownSource q}}
          &hellip;
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="no-results">
      No pages to show :(
    </div>
  {{/each}}
</div>
