{{#if model.isMarkdown}}
  {{#if isEditing}}
    <div class="btn-group pull-right">
      <a class="btn btn-default" {{action "discardChanges"}}>
        <i class="fa fa-times"></i> Discard
      </a>
      <a class="btn btn-success" {{action "saveChanges"}}>
        <i class="fa fa-check"></i> Save
      </a>
    </div>
  {{else}}
    <a class="btn btn-default pull-right" {{action "startEditing"}}>
      <i class="fa fa-pencil"></i> Edit
    </a>
  {{/if}}
{{/if}}


<div class="page-header">
  <h1>
    {{#if isEditing}}
      Editing
    {{/if}}
    {{model.title}}
    <small>{{model.folderPath}}</small>
  </h1>
</div>

{{#if model.isMarkdown}}
  {{#if isEditing}}
    {{textarea-autosize value=model.markdownSource class="markdown-edit"}}
  {{else}}
    <div class="page-markdown">
      {{render-markdown compiledMarkdown=model.compiledMarkdown}}
    </div>
  {{/if}}
{{else if model.isImage}}
  <div class="page-image">
    <img src="{{model.rawPath}}">
  </div>
{{else}}
  <div class="page-unsupported">
    <img src="/assets/confused_fish.svg" alt="">
    <p>
      Goldfish can't remember how to display this file :S
    </p>
  </div>
{{/if}}
