<div class="btn-group pull-right">
  <button class="btn btn-default" disabled={{saveDisallowed}} {{action "save"}}>
    {{#if model.isSaving}}
      <i class="fa fa-circle-o-notch fa-spin"></i>
      Saving &hellip;
    {{else if model.hasDirtyAttributes}}
      <i class="fa fa-save"></i>
      Save
    {{else}}
      <i class="fa fa-check-circle"></i>
      Saved
    {{/if}}
  </button>
  <a class="btn btn-success" {{action "finishEditing"}}>
    <i class="fa fa-check"></i> Finish Editing
  </a>
</div>

<div class="model-header">
  <h1>
    Editing
    {{model.title}}
    <small>{{model.folderPath}}</small>
  </h1>
</div>

{{#if model.isMarkdown}}
  {{#drop-area action='uploadAndLinkFile'}}
    {{textarea-autosize value=model.markdownSource class="markdown-edit" placeholder='Type markdown here'}}
  {{/drop-area}}
{{/if}}
