<div class="btn-group pull-right">
  {{#link-to 'page.edit' model class='btn btn-default'}}
    <i class="fa fa-pencil"></i> Edit
  {{/link-to}}
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a {{action 'deletePage'}}><i class="fa fa-trash-o"></i> Delete</a>
    </li>
  </ul>
</div>


<div class="pull-right modification-date">
  modified {{moment-calendar model.modifiedAt}}
</div>


<div class="page-header">
  <h1>
    {{model.title}}
    <small>{{model.folderPath}}</small>
  </h1>
</div>

{{#if model.isMarkdown}}
  <div class="page-markdown">
    {{render-markdown compiledMarkdown=model.compiledMarkdown}}
  </div>
{{else if model.isImage}}
  <div class="page-image">
    <img src="{{model.rawPath}}">
  </div>
{{else if model.isPDF}}
  <a href="{{model.rawPath}}" target="_blank" class="btn btn-default btn-file-actions">
    <i class="fa fa-share"></i>
    View in separate tab
  </a>
  <a class="btn btn-default btn-file-actions" {{action 'open'}}>
    <i class="fa fa-rocket"></i>
    Open with default app
  </a>
  <object class="page-pdf" data="{{model.rawPath}}" type="application/pdf">
  </object>
{{else}}
  <a class="btn btn-default btn-file-actions" {{action 'open'}}>
    <i class="fa fa-rocket"></i>
    Open with default app
  </a>
  <div class="page-unsupported">
    <img src="/assets/confused_fish.svg" alt="">
    <p>
      Goldfish can't remember how to display this file :S
    </p>
  </div>
{{/if}}
